* {
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
    background-image: url(images/fond_jaune.png);
}

header {
    background-color: black;
    color: white;
}

main {
    background-color: teal;
    color: black;
}

footer {
    background-color: blue;
    color: red;
}